{% extends 'base.html' %}
{% load static %}

{% block content %}

<form class="d-flex container" method="post" action="{% url 'contacts' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search contacts" aria-label="Search"
           name="searched">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% if searched %}
<h4>You searched for {{ searched }}</h4>

{% else %}
<h4>List of contacts:</h4>
{% endif %}

<table class="table table-striped container">
    <tr>
        <strong>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Phone</th>
            <th>Edit</th>
        </strong>
        <th>Delete</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.address }}</td>
        <td>{{contact.zip_code}}</td>
        <td>{{contact.phone}}</td>
        <td><a href="{% url 'edit' contact.id %}">(Edit)</a></td>
        <td><a href="{% url 'delete' contact.id %}">(Delete)</a></td>
    </tr>
    {% endfor %}

</table>

<h2>Add Contact</h2>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post" class="form-group container">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-outline-success">Sign up</button>
            </form>
            <button type="button" class="btn btn-outline-success"><a href="/">Go to homepage</a></button>
        </div>
    </div>
</div>
{% endblock %}
