{% extends 'base.html' %}
{% load static %}
{% block content %}


<h4>Delete Contact</h4>
<br/><br/>
<h4>Delete: {{ contact.first_name}} {{ contact.last_name}}</h4>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
      <strong>Are you sure?</strong>
        <input type="submit" value="Delete Contact" class="btn btn-outline-danger"/>
    </form>
</div>


{% endblock %}