{% extends 'base.html' %}
{% load static %}
{% block content %}


<h4>Update Contact</h4>
<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit Contact" class="btn btn-outline-success"/>
    </form>
</div>


{% endblock %}