{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="container text-center">

        <h4>Welcome to my website!</h4>
    </div>
    <div class="container text-center">
        <h4>Please sign my guestbook.</h4>
        <a href="/signup">Sign</a>

        <h4>And take a look at my resume.</h4>
        <a href="/resume">Resume</a>

        <hr>
        <div class="row">
            <div class="card container" style="width: 18rem;">
                <img src="static/patpic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J Lorenz</h5>
                    <p class="card-text">I am a web developer, specializing in Django and Bootstrap. Sign my guestbook
                        and
                        contact me with any questions.</p>
                    <a href="/signup" class="btn btn-primary">Go to Guestbook</a>
                </div>
            </div>
            <div class="card container" style="width: 18rem;">
                <img src="static/resume.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">My Resume</h5>
                    <p class="card-text">I am an empathetic web developer who is seeking work, please contact me with
                        any opportunities.</p>
                    <a href="/resume" class="btn btn-primary">Go to Resume</a>
                </div>
            </div>
            {% csrf_token %}
        </div>

    </div>
    {% endblock %}

