{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Sign up</h2>
<form method="post" class="form-control">
    {% csrf_token %}
    <div class="form-label">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-outline-success">Sign up</button>
</form>

<hr>

<div class="alert alert-info" role="alert">
    Patrick Lorenz
</div>

{% for guest in guests %}
<div class="alert alert-info" role="alert">
    {{guest.first_name}} {{guest.last_name}}: {{guest.comment}}
</div>
{% endfor %}


<button type="button" class="btn btn-outline-success"><a href="/">Go to homepage</a></button>

{% endblock %}