{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Thank you for signing my guestbook.</h2>

<button type="button" class="btn btn-outline-success"><a href="/">Go to homepage</a></button>
{% endblock %}